// Here you can add other styles
.pagination {
    margin: 0;
}

.buttons {
    button {
        margin-left: 5px;
    }
}

.radio-inline {
    margin-top:5xp;

    .radio-input {
        display: block;
        float: left;
        margin-top: 4px;
        margin-right: 5px;
    }
    
    .radio-label {
        display: block;
        float: left;
        margin-right: 10px;
    }
}

